.container {
  display: flex;
  justify-content: flex-end;
}

.content {
  display: flex;
  align-items: flex-start;
  position: relative;
}

.box {
  line-height: 200%;
  margin-left: 30px;
  /* margin-bottom: ; */
  padding-bottom: 20px;
  text-align: left;
  max-width: 100%;
  color: white;
  text-transform: capitalize;
  font-size: x-large;
  width: 100%;
  overflow: scroll;
  max-height: 70vh;
  box-sizing: border-box;
}


@media only screen and (max-width: 600px) {
  .content {
    max-width: 100%;
    max-height: 500px;
    line-height: 20vh;
    overflow: scroll;
    font-size: small;
    flex-direction: column;
    align-items: flex-start;
  }

  .box {
    margin-left: 0;
    margin-bottom: 20px;
    /* Adjust the margin-bottom as needed */
    padding-bottom: 10px;
    /* Adjust the padding-bottom as needed */
  }

  .code {
    position: absolute;
    /* Change the position to static */
    margin-top: 200px;
  }
}

.code {
  width: 80%;
  margin-bottom: 200px;
}