/* .box {
  line-height: 70px;
  margin: 3px;
  padding-bottom: 20px;
  text-align: left;
  width: 1000px;
  color: white;
  text-transform: capitalize;
  font-size: x-large;

} */

.container {
  display: flex;
  justify-content: right;
}

.content {
  display: flex;
  align-items: flex-start;
  position: relative
}

.box {
  /* flex: 1; */
  line-height: 70px;
  margin-left: 30px;
  margin-bottom: 200px;
  padding-bottom: 20px;
  text-align: left;
  max-width: 1000px;
  color: white;
  text-transform: capitalize;
  font-size: x-large;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .content {
    max-width: 250%;

    max-height: 500px;
    line-height: 20px;

    overflow: scroll;



    font-size: small;
    flex-direction: column;
    /* Add this line */
    align-items: flex-start;
    /* Add this line */

  }

  .code {
    position: absolute;
    top: 0;
    right: 0;
    margin-bottom: 0;
  }
}


.code {
  width: 100%;
  margin-bottom: 200px;

}