@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #272727;
  font-family: "Montserrat", sans-serif;
}

.navMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFCFC4;
  box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
  transition: background-color, box-shadow 0.5s ease-out;
  z-index: 3;

}

.navMenu a {
  margin-right: 2%;
  color: white;
}

.container {
  cursor: pointer;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .navMenu {
    /* margin-left: 20px; */
    width: 10%;
    height: 10%;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 30px;
    height: 2px;
    background-color: white;
    margin: 7px;
    transition: ease-in 1s;
    z-index: 3;
    margin-left: 20px;
  }



  .mobileMenu {
    display: none;
  }

  .open {
    display: flex;
    flex-direction: column;
    background-color: #FFCFC4;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 50px 20px;
    z-index: 2;
    transition: ease-in 1s;
  }

  .open a {
    color: #f6f4e6;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 50%;
  }
}

.dot {
  width: 6px;
  height: 6px;
  background: #aca6f4;
  border-radius: 50%;
  opacity: 0;
  transition: 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover~.dot {
  transform: translateX(700%);
  opacity: 1;
}

.navMenu a:nth-child(2):hover~.dot {
  transform: translateX(2200%);
  opacity: 1;
}

.navMenu a:nth-child(3):hover~.dot {
  transform: translateX(3900%);
  opacity: 1;
}

.navMenu a:nth-child(4):hover~.dot {
  transform: translateX(5900%);
  opacity: 1;
}