@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #272727;
  font-family: "Montserrat", sans-serif;
}

.navMenu {
  position: fixed;
  top: 3%;
  left: 20%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 15px 0
}

.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: .8em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 250px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.final {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 3000px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #F4A6B9;
}

.navMenu .dot {
  width: 6px;
  height: 6px;
  background: #F4A6B9;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(600px);
  transform: translateX(600px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover~.dot {
  -webkit-transform: translateX(100px);
  transform: translateX(125px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover~.dot {
  -webkit-transform: translateX(300px);
  transform: translateX(375px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover~.dot {
  -webkit-transform: translateX(500px);
  transform: translateX(625px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(4):hover~.dot {
  -webkit-transform: translateX(700px);
  transform: translateX(875px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navbar-scrolled {
  background-color: #FFCFC4;

  border-radius: 20px;
  box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
  transition: background-color, box-shadow 0.5s ease-out;
  height: 80px;
  z-index: 3;
}